@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Poppins:wght@400;500&display=swap");

:root {
    --primary-color: #161616;
    --text-dark: #000000;
    --text-light: #767268;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px;
    --header-font: "Oswald", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
    overflow: hidden;
}

.section__header {
    position: relative;
    isolation: isolate;
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 1rem;
    padding-inline: 1rem;
    font-size: 2rem;
    font-family: var(--header-font);
    color: var(--text-dark);
    text-align: center;
}

.section__header::before,
.section__header::after {
    position: absolute;
    content: "";
    width: 100%;
    max-width: 100px;
    height: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 1px solid var(--text-light);
    border-bottom: 1px solid var(--text-light);
    z-index: -1;
}

.section__header::after {
    right: 100%;
}

.section__header::before {
    left: 100%;
}

.section__description {
    line-height: 1.75rem;
    color: var(--text-light);
}

.btn {
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--text-dark);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: flex;
}

html,
body {
  scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

.header {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0)
      ),
      url("assets/header.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    position: fixed;
    isolation: isolate;
    top: 0;
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    z-index: 9;
}

.nav__bar {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--text-dark);
}

.nav__logo {
    max-width: 100px;
}

.nav__menu__btn {
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

.nav__links {
    list-style: none;
    position: absolute;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.2rem;
    font-family: var(--header-font);
    background-color: var(--primary-color);
    transform: translateY(-100%);
    transition: 0.5s;
    z-index: -1;
}

.nav__links.open {
    transform: translateY(0);
}

.nav__links .nav__logo {
    display: none;
}

.nav__links a {
    position: relative;
    isolation: isolate;
    padding-bottom: 8px;
    color: var(--white);
    transition: 0.3s;
}

.header__container {
    padding-block: 10rem;
}

.header__container p {
    font-size: 1.2rem;
    font-family: var(--header-font);
    color: var(--white);
}

.header__container h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 400;
    font-family: var(--header-font);
    line-height: 3rem;
    color: var(--white);
}

.banner__grid {
    margin-bottom: 10px;
    position: relative;
    isolation: isolate;
    display: grid;
    grid-auto-rows: 240px;
    gap: 2px;
}

.banner__card {
    display: grid;
    place-content: center;
}

.banner__card h4 {
    font-size: 3rem;
    font-weight: 400;
    font-family: var(--header-font);
    color: var(--white);
    text-align: center;
}

.banner__card:nth-child(1) {
    background-image: url("assets/banner-1.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner__card:nth-child(3) {
    background-image: url("assets/banner-2.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner__card:nth-child(even) {
    background-color: var(--text-dark);
}

.banner__grid img {
    position: absolute;
    width: 250px;
    padding: 3rem 1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color);
    border: 10px solid var(--text-dark);
    display: none;
}

.banner__strip {
    display: grid;
    gap: 5px;
}

.banner__strip__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.banner__strip__card div {
    flex: 1;
    padding: 1rem;
    display: grid;
    place-content: center;
    font-size: 1.2rem;
    font-family: var(--header-font);
    color: var(--white);
    text-align: center;
    background-color: var(--primary-color);
}

.banner__strip__card:nth-child(even) {
    grid-auto-flow: dense;
    direction: rtl;
}

.about__container .section__description {
    max-width: 900px;
    margin-inline: auto;
    text-align: center;
}

.feature {
    position: relative;
    isolation: isolate;
}

.feature::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 60%;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("assets/feature-bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.feature__container h4 {
    max-width: 600px;
    margin-inline: auto;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 300;
    font-family: var(--header-font);
    color: #b82049;
    text-align: center;
    line-height: 2.5rem;
}

.feature__container .section__header {
    color: var(--white);
    background-color: transparent;
}

.feature__grid {
    isolation: isolate;
    margin-top: 2rem;
    display: grid;
}

.feature__content {
    display: grid;
    align-items: center;
}

.feature__content > div {
    padding: 2rem;
    font-size: 1.1rem;
    color: var(--primary-color);
    background-color: var(--white);
    z-index: 1;
}

.feature__content .btn {
    margin-top: 1rem;
}

.feature__video video {
    width: 100%;
}

.blog__grid {
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
}

.blog__card {
    position: relative;
    isolation: isolate;
    overflow: hidden;
    cursor: pointer;
}

.blog__header {
    padding: 1rem;
}

.blog__header h4 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--header-font);
    color: var(--text-dark);
}

.blog__card__footer {
    margin-top: 1rem;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    border-top: 1px solid var(--text-light);
}

.blog__card__footer div {
    font-size: 0.9rem;
    color: var(--text-light);
}
  
.blog__card__footer span {
    margin-right: 5px;
    font-size: 1rem;
}

.blog__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    padding: 2rem;
    background-color: rgba(22, 22, 22, 0.95);
    z-index: 1;
    transition: 0.5s;
}

.blog__content h4 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--header-font);
    color: var(--white);
}

.blog__content p {
    color: var(--text-light);
    line-height: 1.75rem;
}

.blog__card:hover .blog__content {
    top: 0;
}